<!-- This is a page where information about the company is presented -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Om oss | Tak Över Huvudet</title>
<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">

<script src="../js/respond.min.js" type="text/javascript"></script>
<script src="../js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/takoverhuvudet.js" type="text/javascript"></script>


</head>

<body class="publicBckgr">

<div class="aboutContainer">
  <header>
     <nav>
     	<ul>
        	<a href="../index.html" title="Back to home"><li>Home</li></a> <!-- index page -->
            <a href="about.html" title="History"><li>History</li></a> <!-- About content(top of this page) -->
            <a href="#rent" title="Want to rent out"><li>For rent</li></a> <!-- For rent content -->
            <a href="#wantRent" title="Want to rent"><li>Want to rent</li></a> <!-- Want to rent content -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper" id="aboutWrapper1">
  	<div class="subPageInnerWrapper">
      <h1 class="displayNone">About us</h1> <!-- Hidden header used for SEO -->
      <figure id="aboutLogo">
      	<img src="../img/logotype_white.png" alt="Logotyp Tak Över Huvudet">
      </figure>
      <h2>About us</h2>
      <p class="aboutTxt">Tak Över Huvudet inspirerades av ett
ideellt projekt som resulterade i att
många personer i Umeå hittade
boende. Trots sociala medier och andra
internetsidor så var och är
bostadskrisen i Sverige fortfarande
omfattande. Uthyrande och sökande av
boenden är inte effektiv nog och fler
hjälpande händer behövs.
<br>
<br>
Tak Över Huvudet är ett företag vars
mål är att minimera den bostadsbrist
som råder på marknaden. Detta gör vi
genom att använda de rum, lägenheter,
stugor och villor som redan finns. Vi
kopplar ihop dem som har ett ledigt
boende med de som är i behov av ett
tak över huvudet. Detta oavsett om det
handlar om kort- eller långtidsboende.
Hos oss har alla för en kostnad på 100
kr per annons en lika stor chans att
hitta rätt typ av boende som att hyra ut
till rätt person.
<br>
<br>
Att personer står utan boenden och att
bostäder och rum står utan personer
ser vi som ett problem som vi kan lösa
tillsammans med er.</p>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper #aboutWrapper1-->
  
  <div class="pageDividerSpacer" id="rent"></div>
  
  <section class="subPageWrapper" id="aboutWrapper2">
  	<div class="subPageInnerWrapper">
      <figure id="aboutLogo">
      	<img src="../img/logotype_white.png" alt="Logotyp Tak Över Huvudet">
      </figure>
      <h2>I want to rent out...</h2>
      <p class="aboutTxt">Har du en lägenhet, en stuga eller
en villa som står tom, eller känner
att ditt extrarum kan komma till
användning?
<br>
<br>
Är du intresserad av
att hyra ut ett boende, men inte
känner för att besvara 100st mail
efter att ha lagt ut en annons?
<br>
<br>
Då har du hittat rätt!
<br>
<br>
Vi matchar din
annons om uthyrning med en
person med samma önskemål
gällande boende. Genom att lägga
ut en annons hos oss kommer du
att bli rekommenderad en kandidat
i taget som möjlig hyresgäst till din
bostad. Du får sedan själv välja om
denna person är av intresse eller
om du vill söka vidare. Hos oss
slipper du därmed själv leta efter
en hyresgäst, samt att svara på
flera mail. Hos oss på Tak Över
Huvudet erbjuder vi dig ett enklare
sätt att hyra ut ditt boende.</p>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
  
  <div class="pageDividerSpacer" id="wantRent"></div>
  
  <section class="subPageWrapper" id="aboutWrapper3">
  	<div class="subPageInnerWrapper">
      <figure id="aboutLogo">
      	<img src="../img/logotype_white.png" alt="Logotyp Tak Över Huvudet">
      </figure>
      <h2>I want to find...</h2>
      <p class="aboutTxt">Har du gett upp hoppet om att
hitta ett tak över huvudet?
<br>
<br>
Är du trött på att ständigt behöva leva i
ovetskap gällande din
boendesituation?
<br>
<br>
Då har du hittat rätt!
<br>
<br>
Vi ger dig en chans till att
hitta, inte bara ett boende, utan ett
boende som matchar dig som
person och de krav du har på de tak
du vaknar under varje morgon.
<br>
<br>
Genom att lägga ut en annons hos
oss kommer du, så fort en match
hittas, att kontaktas av en uthyrare
i taget som hyr ut ett boende som
matchar dina krav. Du får sedan
själv välja om erbjudandet är av
intresse eller om du vill neka och
söka vidare.
<br>
<br>
Det finns en bostad för
oss alla och vi vill hjälpa dig att
hitta ett hem du trivs i och kan
längta till efter en lång dag.
Registrera din profil och annons
hos oss och du är halvvägs hemma.</p>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
  
</div><!-- end .regContainer -->

</body>
</html>
