<!-- After submitting a new account registration, here is where the user will be redirected. -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Awaiting confirmation | Tak Över Huvudet</title>
<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">

<script src="../js/respond.min.js" type="text/javascript"></script>
<script src="../js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/takoverhuvudet.js" type="text/javascript"></script>


</head>

<body>

<div class="regContainer">
  <header>
     <nav>
     	<ul>
        	<a href="../index.html" title="Back to home"><li>Home</li></a> <!-- Link back to index page -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <div class="subContentWrapper">
        <h1>Almost there!</h1>
        <p>Check your email and follow the link to complete your registration.</p>
      </div>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->

</body>
</html>