<!-- Tak Over Huvudets page about frequently asked questions -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Contact information | Tak Över Huvudet</title>
<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">

<script src="../js/respond.min.js" type="text/javascript"></script>
<script src="../js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/takoverhuvudet.js" type="text/javascript"></script>


</head>

<body>

<div class="regContainer">
  <header>
     <nav>
     	<ul>
        	<a href="../index.html" title="Back to home"><li>Home</li></a> <!-- Link back to index page -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <div class="subContentWrapper" id="questionsWrapper">
        <h1>Vanliga frågor</h1>
        <h2>Bakgrund och allmän information</h2>
        <p>Hur registrerar jag mig?<br>
        <em>Tryck på knappen registrera på startsidan. Kom ihåg att vara noga med att välja rätt typ av registrering, det vill säga företag eller privatperson</em></p>
        
        <p>Kan jag läsa mer om Tak Över Huvudet Sverige någonstans?<br>
        <em>Se länken <a href="about.html" tabindex="1" title="About us" target="_self">Om oss</a> eller kolla in oss på <a href="#" tabindex="2" title="Gilla oss på facebook" target="new">Facebook</a>.</em></p>
        
        <p>Hur gammal måste jag vara för att få annonsera på Tak Över Huvudet Sverige?<br>
        <em>Du måste vara 18 år, eller ha målsmans godkännande!</em></p>
        
        <p>Hur fungerar det när man ska hitta eller hyra ut ett boende hos er?<br>
        <em>Se länken <a href="howitwork.html" tabindex="3" title="Hur fungerar det" target="_self">Så fungerar det</a></em></p>
        
        <p>Kan jag endast leta efter/hyra ut ett permanent boende hos er?<br>
        <em>Nej! Du kan även leta efter tillfälligt boende och semesterboende via oss!</em></p>
        
        <p>Hur gör jag om jag glömt mitt lösenord?<br>
        <em>På startsidan kan du klicka på länken <a href="requestPassword.html" tabindex="4" title="Återställ lösenord" target="_self">Glömt lösenordet?</a></em></p>
        
        <p>Garanterar ni att jag får uthyrt mitt boende eller att jag hittar ett boende?<br>
        <em>Vi kan inte garantera att du får en matchning, men vi gör självklart vårt bästa för att du ska hitta det boende du letar efter eller att du ska få uthyrt ditt boende till rätt person.</em></p>
        
        <p>Hur länge kan det ta att jag hittar ett boende?<br>
        <em>Det beror helt på vilka krav du har och vad som är tillgängligt. Vi arbetar så klart hela tiden för att processen ska ske så snabbt och smidigt som möjligt!</em></p>
        
        <p>Vad gör jag om jag matchas ihop med en oseriös annons?<br>
        <em>Om du misstänker att en annons är oseriös och bryter mot reglerna så bör du så fort som möjligt meddela detta till <a href="mailto:info@takoverhuvudet.se">info@takoverhuvudet.se</a> så att vi kan granska annonsen/användaren i fråga.</em></p>
        
        <h2>Profil</h2>
        <p>När ska jag välja företagsproﬁlen respektive privatproﬁlen?<br>
        <em>Du ska välja företagsproﬁlen om du innehar f-skattesedel och ditt företag är aktivt, samt att du ska hyra ut/söka boende i företagets räkning. Ska du söka/hyra ut boende privat så väljer du privatproﬁlen.</em></p>
        
        <p>Hur gör jag om jag vill ta bort min proﬁl?<br>
        <em>Logga in och klicka in dig på din proﬁl, välj sedan avsluta konto.</em></p>
        
        <p>Kan jag söka eller hyra ut boende i någon annans namn?<br>
        <em>Du kan absolut inte söka eller hyra ut boende i någon annans namn då du då bryter mot Tak Över Huvudet Sveriges allmänna villkor och kan då bli skyldig till att betala skadestånd.</em></p>
        
        <p>Måste jag fylla i alla uppgifter när jag registrerar mig?<br>
        <em>Ja, för att vi skall kunna erbjuda en säker tjänst så kräver vi att alla personuppgifter är ifyllda och korrekta. Om dessa väcker misstankar hos oss på Tak Över Huvudet Sverige, så har vi rätt att radera dessa.</em></p>
        
        <p>Kan jag lägga upp en bild på mig med andra på samma bild?<br>
        <em>Proﬁlen är personlig och det bör enkelt gå att urskilja vem av personerna som är du. Det är okej att ha ﬂer på bilden, om dessa personer tillsammans med dig söker ett boende, men då bör du även ange detta i annonsen.</em></p>
        
        <h2>Annonser</h2>
        <p>Vad för slags boende kan jag söka/hyra ut hos er?<br>
        <em>Du kan söka/ hyra ut rum, studentrum, hyresrätt, hus och stugor.</em></p>
        
        <p>Hur länge har jag på mig att svara på ett erbjudande?<br>
        <em>Du har tre dagar på dig från det att erbjudandet kom in. Du får alltid ett mail från oss när du har fått ett erbjudande.</em></p>
        
        <p>Hur länge får min annons vara inlagd?<br>
        <em>Din annons är inlagd och aktiv så länge att både den sökande och den som hyr ut har accepterat ett erbjudande eller till dess att du själv väljer att radera din annons.</em></p>
        
        <p>Kan andra se min annons?<br>
        <em>Ingen annan kan se din annons förutom den andra parten i matchningen. Din annons är därmed alltid unik, oavsett om du hyr ut eller söker ett boende. Detta gör att erbjudandet som du får inte matchas ihop med någon annan samtidigt.</em></p>
        
        <p>Kostar det att ändra annonsen?<br>
        <em>Nej, hos oss är det gratis! Du betalar endast för din annons (100 SEK) och sedan kan du ändra din annons så länge till dess att du och den andra parten har accepterat ett erbjudande.</em></p>
        
        <p>Vad kostar det att lägga till ﬂer bilder?<br>
        <em>Det kostar ingenting! Dock så har vi en max gräns på tre bilder per uthyrningsobjekt.</em></p>
        
        <p><br>
        <em>Hittade du inte svaret på din fråga här? Maila oss då på <a href="mailto:info@takoverhuvudet.se">info@takoverhuvudet.se</a> </em></p>
        
      </div>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->

</body>
</html>