<!-- This page is where private users can register an account. 
Upon submit, a user account is created and values in form fields is stored in database -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Register new private account | Tak Över Huvudet</title> <!-- Register new account as a private user -->
<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">

<script src="../js/respond.min.js" type="text/javascript"></script>
<script src="../js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/common.js" type="text/javascript"></script>

</head>

<body>

<div class="regContainer">
  <header>
     <nav>
     	<ul>
        	<a href="/home" title="Back to home"><li>Home</li></a> <!-- Link back to index page -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Register new private account</h1>
      
      <section class="subContentWrapper fltlft">
          <form name="regForm" class="registerForm" id="private_reg_form" method="post" onSubmit="javascript: return register_submit('private_reg_form');">
              <input type="hidden" name="accountType" value="private" />
              <fieldset class="fltlft">
                  <label for="username">Username</label>
                  <input id="username" class="txtInput" name="username" type="email" placeholder="Username (E-mail address)" maxlength="50" tabindex="1" required>
                  <label for="passw">Password</label>
                  <input id="passw" class="txtInput" name="passw" type="text" placeholder="Choose password" minlength="8" maxlength="20" tabindex="2" required>
                  <label for="verifypass">Verify password</label> <!-- confirm password (check that user has typed in the same as in field "passw") -->
                  <input id="verifypass" class="txtInput" name="verifypass" type="text" placeholder="Type same password" minlength="8" maxlength="20" tabindex="3" required>
                  <label for="name">Name</label>
                  <input id="name" class="txtInput" name="name" type="text" placeholder="Name" maxlength="20" tabindex="4" required>
                  <label for="famliyname">Family name</label>
                  <input id="familyname" class="txtInput" name="familyname" type="text" placeholder="Family name" maxlength="20" tabindex="5" required>
                  <label for="street">Street</label>
                  <input id="street" class="txtInput" name="street" type="text" placeholder="Street address" maxlength="50" tabindex="6" required>
                  <label for="postalcode">Postal code</label>
                  <input id="postalcode" class="txtInput" name="postalcode" type="text" placeholder="Postal code" maxlength="6" tabindex="7" required> <!-- must validate that user has entered only numbers -->
                <label for="city">City</label>
                <input id="city" class="txtInput" name="city" type="text" placeholder="City" maxlength="20" tabindex="8" required>
              </fieldset>
              <fieldset class="fltlft">
              	<label for="birthYear">Birth date</label>
              	<select name="birthYear" id="birthYear" class="selectInput fltlft" tabindex="9" title="Year" dir="ltr" required>
                      <option value="" disabled selected>Year</option>
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                      <option value="2005">2005</option>
                      <option value="2004">2004</option>
                      <option value="2003">2003</option>
                      <option value="2002">2002</option>
                      <option value="2001">2001</option>
                      <option value="2000">2000</option>
                      <option value="1999">1999</option>
                      <option value="1998">1998</option>
                      <option value="1997">1997</option>
                      <option value="1996">1996</option>
                      <option value="1995">1995</option>
                      <option value="1994">1994</option>
                      <option value="1993">1993</option>
                      <option value="1992">1992</option>
                      <option value="1991">1991</option>
                      <option value="1990">1990</option>
                      <option value="1989">1989</option>
                      <option value="1988">1988</option>
                      <option value="1987">1987</option>
                      <option value="1986">1986</option>
                      <option value="1985">1985</option>
                      <option value="1984">1984</option>
                      <option value="1983">1983</option>
                      <option value="1982">1982</option>
                      <option value="1981">1981</option>
                      <option value="1980">1980</option>
                      <option value="1979">1979</option>
                      <option value="1978">1978</option>
                      <option value="1977">1977</option>
                      <option value="1976">1976</option>
                      <option value="1975">1975</option>
                      <option value="1974">1974</option>
                      <option value="1973">1973</option>
                      <option value="1972">1972</option>
                      <option value="1971">1971</option>
                      <option value="1970">1970</option>
                      <option value="1969">1969</option>
                      <option value="1968">1968</option>
                      <option value="1967">1967</option>
                      <option value="1966">1966</option>
                      <option value="1965">1965</option>
                      <option value="1964">1964</option>
                      <option value="1963">1963</option>
                      <option value="1962">1962</option>
                      <option value="1961">1961</option>
                      <option value="1960">1960</option>
                      <option value="1959">1959</option>
                      <option value="1958">1958</option>
                      <option value="1957">1957</option>
                      <option value="1956">1956</option>
                      <option value="1955">1955</option>
                      <option value="1954">1954</option>
                      <option value="1953">1953</option>
                      <option value="1952">1952</option>
                      <option value="1951">1951</option>
                      <option value="1950">1950</option>
                      <option value="1949">1949</option>
                      <option value="1948">1948</option>
                      <option value="1947">1947</option>
                      <option value="1946">1946</option>
                      <option value="1945">1945</option>
                      <option value="1944">1944</option>
                      <option value="1943">1943</option>
                      <option value="1942">1942</option>
                      <option value="1941">1941</option>
                      <option value="1940">1940</option>
                      <option value="1939">1939</option>
                      <option value="1938">1938</option>
                      <option value="1937">1937</option>
                      <option value="1936">1936</option>
                      <option value="1935">1935</option>
                      <option value="1934">1934</option>
                      <option value="1933">1933</option>
                      <option value="1932">1932</option>
                      <option value="1931">1931</option>
                      <option value="1930">1930</option>
                </select>
                <select name="birthMonth" id="birthMonth" class="selectInput fltlft" tabindex="10" title="Month" dir="ltr" required>
                      <option value="" disabled selected>Month</option>
                      <option value="01">Januari</option>
                      <option value="02">Februari</option>
                      <option value="03">Mars</option>
                      <option value="04">April</option>
                      <option value="05">Maj</option>
                      <option value="06">Juni</option>
                      <option value="07">Juli</option>
                      <option value="08">Augusti</option>
                      <option value="09">September</option>
                      <option value="10">Oktober</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                </select>
                <select name="birthDay" id="birthDay" class="selectInput fltlft" tabindex="11" title="Day" dir="ltr" required>
                      <option value="" disabled selected>Day</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                </select>
                <div class="clearfloat"></div>	
                
                <!-- User gender -->	
                <p id="gender">
                  <label class="fltlft">
                    <input type="radio" name="gender" value="man" id="gender_0" tabindex="12" required> <!-- Man -->
                    Man</label>
                  
                  <label class="fltlft">
                    <input type="radio" name="gender" value="woman" id="gender_1" tabindex="13"> <!-- Female -->
                    Woman</label>
                  <br>
                  <div class="clearfloat"></div>
                </p>
                
                  <label for="phone" id="telLabel">Phone</label>
                  <input id="phone" class="txtInput" name="phone" type="text" placeholder="Phone" maxlength="20" tabindex="14" required>
                  <label for="occupation">Occupation</label>
                  <input id="occupation" class="txtInput" name="occupation" type="text" placeholder="Parttime Worker.." maxlength="30" tabindex="15" required>
                  <label for="allergy">Allergy?</label>
                  <input id="allergy" class="txtInput" name="allergy" type="text" placeholder="I'm allergic to..." maxlength="50" tabindex="16">
              </fieldset>
              <div class="clearfloat"></div>
              <div id="registerCheckboxWrapper">
                  <input class="fltlft" name="verifyconditionscheckbox" type="checkbox" value="I've read and agree to terms and conditions" tabindex="17" required>
                  <p>I've read and agree to terms and conditions - <a href="#" title="Terms and conditions - PDF" target="new" >Read here</a></p> <!-- linked to a pdf document -->
                  
              </div>
              <div class="clearfloat"></div>
              <button type="submit" class="formBtn fltrt" name="regUserBtn" id="regUserBtn" tabindex="18" value="Create user">Create user</button> <!-- Submit/create user account -->
              <button type="reset" class="formBtn fltrt" name="clearRegisterFormBtn" id="clearRegisterFormBtn" tabindex="19" value="Clear">Clear</button> <!-- Clear form -->
          </form>
          
      </section><!-- end .rightColumnRegistrationWrapper .fltlft -->
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->

</body>
</html>