<!-- The user can reset his/her password. User type in the same e-mail adress they use in their account and when clicking Send button, they will receive an e-mail with information on how to reset their password. -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Reset password | Tak Över Huvudet</title>
<link href="/css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">

<script src="/js/respond.min.js" type="text/javascript"></script>
<script src="/js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/common.js" type="text/javascript"></script>


</head>

<body>

<div class="regContainer">
  <header>
     <nav>
     	<ul>
        	<a href="/home" title="Back to home"><li>Home</li></a> <!-- Link back to index page -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <div class="resetPasswordWrapper">
        <h1>Reset password</h1>
          <form name="requestPasswordForm" id="forgot_password_form" method="post" onSubmit="javascript: return request_password();">

          <label for="userEmail">My user account e-mail</label>
          <input type="text" class="txtInput" name="userEmail" id="userEmail" placeholder="E-mail" autofocus required tabindex="1">
          <p class="">Click Send to receive an e-mail containing information about how to reset your password.</p>
            <button type="submit" class="formBtn" value="Send" tabindex="2">Send</button><!-- Clicking button will send information to this users e-mail (address entered in this form) on how to reset their password. SOme kind of verify check has to be done to see that the e-mail provided actually exsists in the database. After successfully sent email, user should be redirected to passwordRequestSent.html. -->
          </form>
      </div>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->

</body>
</html>