<!-- Some general tips about using this site -->
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>This is how it works | Tak Över Huvudet</title>
<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="../css/style.css" rel="stylesheet" type="text/css">

<script src="../js/respond.min.js" type="text/javascript"></script>
<script src="../js/prefixfree.min.js" type="text/javascript"></script>

<script src="/js/jquery-1.11.2.js"></script>

<script src="/js/common.js" type="text/javascript"></script>


</head>

<body>

<div class="regContainer">
  <header>
     <nav>
     	<ul>
        	<a href="/home" title="Back to home"><li>Home</li></a> <!-- Link back to index page -->
        </ul>
     </nav>
  </header><!-- end .header -->
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <div class="subContentWrapper">
        <h1>General tips</h1>
        <p>
        	<ul id="tipsList">
            	<li>Tänk på att annonser som inte följer regler kan raderas av Tak Över Huvudet Sverige.</li>
                <li>Kom ihåg att du inte kan ändra din annons efter att ett erbjudande har accepterats av båda parterna. Var därför noga med att alltid kolla igenom erbjudandet noga innan du accepterar denna.</li>
                <li>Om du är osäker på om din annons följer reglerna, fråga oss på <a href="mailto:info@takoverhuvudet.se">info@takoverhuvudet.se</a></li>
                <li>Tänk på att inte betala någon förskottsbetalning före du sett bostaden, skrivit kontrakt och fått nycklarna. Vid oseriösa annonser informera oss om detta så att vi hinner radera annonsen/ användaren</li>
                <li>Du kan lätt hitta boende även över helger via oss! Och om det inte skulle nappa vid det datumet som du har satt, så kan du lätt ändra denna.</li>
                <li>Som uthyrare kan du lätt hyra ut i perioder då du kan ändra annonsens datum till dess att erbjudandet har accepterats av båda parterna.</li>
            </ul>
        </p>
      </div><!-- end .subContentWrapper -->
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->

</body>
</html>