<!-- This page is displayed after a user has registered a new object and if object was successfully added to database -->
<div class="loggedInContainer">
     <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Thank you for your purchase, your ad is now published :)</h1>
      <p>A receipt was sent to the email address connected to your account.<br>Thanks for choosing Tak Over Huvudet as your accommodation service provider.<br><br>Good luck!</p>
      <br>
      <form action="#/ads">
      	<button type="submit" class="formBtn" tabindex="1" value="See my ads">See my ads</button>
      </form>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->