<div class="loggedInContainer">
    <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">

  <div class="subPageInnerWrapper">
      <h1>My ads</h1>
      
      <div class="adWrapper" ng-repeat="ad in ads"><!-- This div and all content inside is to be created dynamically for each ad user has created. Data should be retreived from database and fill content -->
        <div class="adHeader">
            <h3>
            <span id="adCategory" ng-if="ad.adType == 'letting'">For Searching</span>
            <span id="adCategory" ng-if="ad.adType == 'renting'">For Renting</span>
            </h3><!-- category, For rent or Searching -->
            <h3><span id="adID">Ad ID #{{ad.id}}</span></h3><!-- ad identification number -->
        </div><!-- end .adHeader -->
        <div class="adPicturesWrapper">
          <figure class="adFig" id="adFig1"> <!-- figure should be created dynamically (max 3). If no picture was uploaded during creation of the ad, only one figure will be created and filled with the placeholder img (ad-placeholder.svg) -->
              <img src="/img/placeholder.svg" width="150" height="150" alt="Apartment placeholder"><!-- Retreive picture from database and replace. If no picture is found, use the default placeholder img. -->
            </figure>
        </div><!-- end .adPicturesWrapper -->
        <div class="adObjectDetails">
          <p><span id="city">{{ad.adData.state}}</span><br><!-- City -->
            <span id="type">{{ad.adData.accommodationType}}</span><br><!-- object type (e.g apartment, student room, etc.) -->
            <span id="size">{{ad.adData.minSize}}</span>&nbsp;Sqm<br><!-- object size -->
            <span id="price">{{ad.adData.maxPrice}}</span>&nbsp;SEK / <span id="pricePeriod">{{ad.adData.period}}</span></p><!-- defines the time intervall for price eg. month, week or day. -->
        </div><!-- end .adObjectDetails -->
        <div class="adButtons">
          <form name="deleteAdForm"><!-- where to send user when button is clicked (to be developed) action="deleteAd.html"-->
            <button name="deleteAdBtn" id="deleteAdBtn" type="submit" value="Delete" class="adTableBtn" ng-click="delete_ad(ad.adData.id);">Delete</button> <!-- Remove ad -->
            </form>
            <br><br>
            <form name="editAdForm"><!-- redirected to the edit page where data should be retreived from database. If ad is a Searching type, then redirect to editFindAd.html. If type is Rent out, then redirect to editRentOutAd.html -->
              <button name="editAdBtn" id="editAdBtn" type="submit" value="Edit" class="adTableBtn" ng-click="edit_ad(ad.adType,ad.adData.id);">Edit</button></td><!-- Edit ad -->
            </form>
        </div><!-- end .adButtons -->
        <div class="clearfloat"></div>
      </div><!-- end .adWrapper -->
      
      <div class="NewAdBtnsWrapper">
        <h3>Create new ad</h3>
        <form action="#find_home" id="createSearchAdLink" class="fltlft">
          <button type="submit" name="searchBtn" tabindex="1" class="fixedWidthBtn">Search</button>
        </form>
        <form action="#rent_home" id="createRentOutAdLink">
          <button type="submit" name="rentBtn" tabindex="2" class="fixedWidthBtn">Rent out</button>
        </form>
        <!--
        <form name="find_home" class="fltlft">
          <button type="submit" name="searchBtn" tabindex="1" class="fixedWidthBtn" ng-click="find_home();">Find</button>
        </form>
        <form name="rent_home">
          <button type="submit" name="rentBtn" tabindex="2" class="fixedWidthBtn" ng-click="rent_home();">Rent out</button>
        </form>-->
      </div><!-- end .adBtnsWrapper -->

    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->