<div class="loggedInContainer">
         <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <h1>Deny a proposal</h1>
      <p>Are you sure you want to Deny this proposal? When you click confirm, this proposal will no longer be available to you. </p>
      	<button type="submit" name="acceptProposalBtn" id="acceptProposalBtn" class="formBtn" ng-click="invoke_msg();">No, take me back</button><!-- When user press accept, the ad they payed for is now used and if they want to make another ad they have to create a new one and pay for it. But there is one circumstance that can give the user back the ad, and that is if a landlord accepts the searcher, but the searcher then deny the offer. In that case, the landlord will be given back the ad and it should be activated automatically. -->
      	<button type="submit" name="denyProposalBtn" id="denyProposalBtn" class="formBtn" ng-click="confirm_deny();">Confirm deny</button><!-- WHen user press this button the proposal should be inactivated and the message (on the message page) should now only have one button with the text "Delete" (Instead of Accept and Deny). User will be redirected to messages.html -->
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->
