<nav>
        <ul>
          <a href="#home" title="Back to my home"><li>My home</li></a> <!-- link to this page --> 
            <a href="#myprofile" title="My profile"><li>My profile</li></a> <!-- link to this users profile page -->
            <a href="#ads" title="My ads"><li>Ads</li></a> <!-- link to this users ad page -->
            <a href="#messages" title="My messages"><li id="messageLink">Messages<div id="alertContainer"><!-- this container holds the alert icon (key) that will be displayed when the user got a new message/new match. Should be set to display:block on all logged in pages for the user seesion until the user visits the Message page --></div></li></a> <!-- link to this users messages page -->
            <a href="/logout" title="Log out" class="fltrt"><li>Log out</li></a> <!-- log out user. The user will be redirected to index page after successfully logged out -->
        </ul>
     </nav>