
<div class="loggedInContainer">
     <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <h1>Your purchase could not be proccessed.</h1>
      <p>No money was transferred. Please try again.</p>
      <br>
      <form action="ads.html">
      	<button type="submit" class="formBtn" tabindex="1" value="Try again">Try again</button>
      </form>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->