<div class="regContainer">
    <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <div class="resetPasswordWrapper">
        <h1>Reset password</h1>
          <form name="newPasswordForm" ng-submit="confirm_change_password()">
            <label for="newPassword">Type your new password</label>
            <input type="password" class="txtInput" name="newPassword" id="newPassword" placeholder="New password" autofocus required tabindex="1">
            <label for="verifyNewPassword">Repeat password</label>
            <input type="password" class="txtInput" name="verifyNewPassword" id="verifyNewPassword" placeholder="Enter same password" required tabindex="2">
            <p class="">When you click Save, your new password will be saved and you will be redirected to the login page.</p>
            <button type="submit" class="formBtn" value="Save" tabindex="3">Save</button><!-- Clicking button will do a check that both password fields are identical and then save the new password. User then gets redirected to login page. -->
          </form>
      </div><!-- end .resetPasswordWrapper -->
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->
